
.root {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center;

    margin: 0;
    padding: 0;
    width: 100%;
    background-color: wheat;
    box-shadow: inset 0px 0px 60px 20px rgba(0,0,0,0.5);
}

.cell, .cell:before {
    height: 100%;
}
.cell:before {
    content: '';
    margin-right: -0.25em; /* Adjusts for spacing */
}
.cell:before, .container {
    vertical-align: middle;
    display: inline-block;
}

.container {
    text-align: left;
    max-height: 100vh;
    overflow: auto;
}

_:-moz-tree-row(hover), .container {
    padding: 2px 0px;
}   

td {
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrowTd {
    font-size: 10px;
}

.letterTd{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(163, 161, 39);
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.letterDiv {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 32px;
}

.letterDivInf {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 48px;
}

.countDiv {
    font-family: Tahoma;
    font-size: 12px;
}

.letterBoxDiv {
    width: 100%;
    height: 100%;
    cursor: default;
    border-radius: 10px;
    position: relative;
}

.letterBoxDivPaused {
    background-color:  #e4d8c4;
}

.upgradeButton {
    font-size: 22px;
    display: inline-block;
    border: 1px solid darkblue;
    margin: 5px;
    cursor: pointer;
}

.centerDiv{
    align-content: center;
    text-align: center;
}

.pauseButton {
    width: 15px;
    height: 15px;
    font-size: 14px;
    display: inline-block;
}

.optionsButton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 32px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    /*width:40px;*/
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.miniButton {
    font-size: 22px;
    display: inline-block;
    margin: 3px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}


.hardResetButton {
    background: red;
    margin-top: 20px;
    margin-right: 20px;
}

.softResetButton {
    background: #FF7777;
    margin-top: 20px;
    margin-right: 20px;
}


.upgradeDescTd {
    text-align: left;
}


.miniButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.miniButtonDisabled {
    background-color: #AAAAAA;
    font-size: 22px;
    display: inline-block;
    margin: 3px;
    cursor: default;
    padding-left: 5px;
    padding-right: 5px;
}

.smallText {
    font-size: 16px;
}

.ownedText {
    background: lightgray;
}

.centerTd {
    align-content: center;
    text-align: center;
}

.alignLeft {
    align-content: left;
    text-align: left;
}

.miniButtonMarginless {
    margin: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.topRightCorner {
    position: absolute;
    top: 0px;
    right: 0px;
}

.altShiftStateDiv {
    height: 30px;
}